@keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .logo-pop {
    animation: pop 0.4s ease-in-out;
  }
  